#home-page > h1 {
  font-size: 80px;
  font-family: "Bradley Hand";
  font-weight: 600;
}

#home-page > p {
  font-size: 30px;
  font-family: monospace;
}

#home-page .btn-flat {
  background-color: orange;
  color: white;
}

#home-page .btn-xl {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}

#home-page > .buttons {
  display: flex;
  gap: 1rem;
}
