#home-page {
  background-color: #e5ac3f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  text-align: center;
}

#home-page > h1 {
  font-size: 80px;
  font-family: "Bradley Hand";
  font-weight: 600;
}

#home-page > p {
  font-size: 30px;
  font-family: monospace;
}

#home-page .btn-flat {
  background-color: orange;
  color: white;
}

#home-page .btn-xl {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}

#home-page > .buttons {
  display: flex;
  gap: 1rem;
}
