#login-page > h1 {
  font-size: 50px;
  font-family: monospace;
}

#login-page > p {
  font-size: 30px;
  font-family: monospace;
}

#login-page .btn-flat {
  background-color: orange;
  color: white;
}

#login-page .btn-xl {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}
