
.modal-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal-body > .input-group,
.modal-body > .input-group > .input-group-text,
.modal-body > .input-group > .form-floating,
.modal-body > .input-group > .form-floating > input {
  height: 3.5rem;
}

.modal-body > .input-group,
.modal-body > .input-group > .form-floating {
  width: 90%;
}